CMakeFiles/
CMakeCache.txt
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-release/
cmake_install.cmake
.idea/
*.o
*.swp
sgfc
sgfc-test
.scannerwork/
build_wrapper_output_directory/
sonar-project.properties
*.gcov
*.gcda
*.gcno
coverage.info
coverage-html/
build
.cache/
